.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #1996da;
  color: white;
  font-family: lato, sans-serif;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex-basis: 50%;
  padding: 10px;
}

.image {
  max-width: 50%;
  max-height: 50%;
  padding: 20px;
  width: 80%;
  border-radius: 50%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

h1 {
  text-align: center;
  font-weight: lighter;
}

.character-description {
  font-size: normal;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 150%;
}
