.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #1996da;
  color: white;
  font-family: lato, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex-basis: 35%;
  padding: 10px;
}

.image {
  max-width: 50%;
  max-height: 50%;
  padding: 0;
  width: 80%;
  border-radius: 50%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: lighter;
}

.character-description,
.title {
  font-size: normal;
  text-align: center;
}
