.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Karla, sans-serif;
  text-align: center;
  width: auto;
}

h1 {
  line-height: 150%;
}

.text-body {
  text-align: center;
  font-family: Karla, sans-serif;
  line-height: 250%;
}

.column-one-left {
  flex-basis: calc((100% * 2) / 3);
}

input[type="submit"] {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  background-color: white;
  color: #ec5d57;
  padding: 7px 22px;
  cursor: pointer;
  margin-left: 37%;
  border-radius: 1px;
  border-color: #ec5d57;
}
