.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Avenir, sans-serif;
}

/* The log on the top left of the screen */
.logo-blue {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

/* The list that will be used to create the navigation bar */
.nav-bar {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  margin-right: 50px;
}

/* Get Started Button */
.getstarted-btn {
  display: inline-block;
  background-color: #294464;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 10px;
}

a:hover {
  color: #00a1c4;
}

/* Contact Button */
.contact-btn {
  display: flex;
  background-color: #294464;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 50px;
  cursor: pointer;
}

.hero-image {
  display: flex;
  max-width: 100%;
}

.hero-column {
  font-family: "Tiempos Headline", sans-serif;
  font-size: medium;
  position: absolute;
  top: 250px;
  left: 70px;
  color: white;
}

.hero-description {
  width: 50%;
  line-height: 2;
}

.clinic-row {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 20px;
}

.clinic-column {
  text-align: center;
}

.clinic-title {
  font-size: 32px;
}

.clinic-location {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.clinic-location li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.ready-row {
  display: flex;
  justify-content: space-between;
}

.getstarted-column {
  display: flex;
  align-items: center;
}

.logo-white {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.contact-info p {
  text-align: left;
  margin-left: 10px;
  color: #fff;
}

.index-row {
  background-color: #525351;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-product {
  margin-top: -20px;
}

.index-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.index-company {
  text-align: center;
  margin-top: -20px;
  flex-grow: 1;
}

.company-title {
  font-family: Avenir, sans-serif;
  color: #fff;
  margin-bottom: 0;
}

.product-title {
  font-family: Avenir, sans-serif;
  color: #fff;
  margin-bottom: 10px;
}

.company-list,
.product-list {
  font-family: Avenir, sans-serif;
  color: #fff;
}

/**  */
.bottom-title {
  display: flex;
}

.contact-bottom-btn {
  margin-left: 20px;
  cursor: pointer;
}
